header {
    margin-top: 0.5rem;
    position: relative;
    z-index: 95;
    width: 100%;
    background-color: var(--notfound_light);
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1rem var(--boxshadow);
}

.shorpe-logo {
    width: 9rem;
    height: 3rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.header-sub-container1 {
    align-self: center;
    margin-left: 2rem;
}

.header-sub-container2 {
    align-self: center;
    margin-right: 2rem;
}

.nav-btn {
    width: fit-content;
    text-decoration: none;
    color: var(--defaulttext);
    font-weight: 300;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: var(--notfound_light);
}

.nav-btn:hover {
    background-color: var(--defaultfocus);
}

.logout {
    border: 1px solid var(--btnfill);
    display: inline-flex;
}

.toggle {
    display: none;
}

.nav-container {
    display: inline-flex;
    align-items: center;
}

.nav__items {
    list-style: none;
    display: flex;
    align-items: center;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10%;
    align-items: center;
    z-index: 93;
    top: 5rem;
    background: var(--notfound_light);
    width: 80%;
    opacity: 0; /* Set initial opacity to 0 */
    visibility: hidden; /* Hide the element initially */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Add transition properties */
}

/* Display the mobile navigation when it's open */
.mobile-nav.open {
    opacity: 1;
    visibility: visible;
}

.mobile-nav__items {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
}

.mobile-nav__items li {
    padding: 0.5rem;
}

@media(max-width:768px) {
    .toggle {
        display: block;
        border-radius: 0.6rem;
        border: 1px solid var(--btnfill);
        padding: 0.5rem;
        box-shadow: 0 0.5rem 1rem var(--boxshadow);
    }
    .toggle :focus{
        background-color: var(--defaultfocus);
    }

    .nav-container {
        display: none;
    }
}