header{
    margin-top: 1rem;
    position: relative;
    z-index: 95;
    width: 100%;
    background-color: var(--notfound_light);
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1rem var(--boxshadow);
}

.shorpe-logo{
    width: 9rem;
    height: 3rem;
}
.header-container{
    display: grid;
    grid-template-columns: 25% 1fr;
    padding: 0.5rem;
}
.header-sub-container1{
    display: flex;    
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 2rem;
}
.header-sub-container2{
    display: flex; 
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-right: 2rem;
}

.nav-btn{
    width: fit-content;
    text-decoration: none;
    color: var(--defaulttext);
    font-weight: 300;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-right: 1rem;
}

.nav-btn:hover{
    background-color: var(--defaultfocus);
}

.logout{
    border: 1px solid var(--btnfill);
    display: inline-flex;
}

.toggle{
    display: none;
}

.nav-container{  
    display: inline-flex;
    align-items: center;
}

.dropdown-nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--notfound_light);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 10;
    padding: 1rem 0;
  }
  
  .dropdown-nav a {
    color: var(--defaulttext);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 300;
    font-size: 1.2rem;
    border-radius: 1rem;
    margin: 0.5rem;
  }
  
  .dropdown-nav a:hover {
    background-color: var(--defaultfocus);
  }

@media(max-width:768px){
    .toggle{
        display: block;
    }
    .nav-container{
        display: none;    
    }
}