.main-container {
    border-top: 0.5rem solid var(--defaultfocus);
    border-bottom: 0.5rem solid var(--defaultfocus);
    margin-top: 5rem;
}


.outlet-container {
    max-width: 100%;
    padding: 1rem;
    margin: 1rem;
}