:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  /* color */
  --body_background: rgb(240, 245, 255);
  --body_color: black;

  --logo_color1:#78c4ed;
  --logo_color2:#d6d2d2;

  --notfound_fill:#262626;
  --notfound_light:rgb(255, 255, 255);

  --defaulttext:#282c34;
  --defaultfocus:rgb(240, 245, 255);

  --formtext:black;

  --defaultbg_color:#fff;
  --lightbg_color:rgb(245 246 247);
  --btnfill:#296d90;
  --btnborder:#fff;
  --boxshadow:rgb(0 0 0 / 15%);
  --bgalternative:#515151;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.3rem; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

[data-theme='dark'] {
  --body_background: #282c34;
  --body_color: white;

  --notfound_fill:#fff;
  --notfound_light:#262626;

  --logo_color1:#1a476038;
  --logo_color2:#d6d2d2;

  --defaulttext:#ffff;
  --defaultfocus:rgba(10, 10, 10, 0.196);
  --formtext:#ffff;

  --defaultbg_color:#000000;
  --lightbg_color:rgb(245 246 247);
  --btnfill:#032132;
  --btnborder:#fff;
  --boxshadow:rgba(255, 255, 255, 0.15);
  --bgalternative:#515151;
}

* {
  transition: all 0.3 ease-in-out;
} 

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--body_background);
  color: var(--body_color);
  scrollbar-width: thin; 
  scrollbar-color: #888 #fff; 
}

